---
dist: trusty
language: go
go:
  - "1.21.8"

group: bluezone

matrix:
  fast_finish: true
  allow_failures:
  - go: tip
  include:
    - os: linux
      env: MAKE_TASK="fmt"
    - os: linux
      env: MAKE_TASK="test-sanity"

cache:
  bundler: true

sudo: true
services:
  - docker

script:
  if [[ "$MAKE_TASK" == "fmt" ]]; then
    make driver;
  fi
