---
dist: bionic
language: go
go:
  - 1.24.3

group: bluezone

matrix:
  fast_finish: true
  allow_failures:
  - go: tip
  include:
    - os: linux
      env: MAKE_TASK="fmt"
    - os: linux
      env: MAKE_TASK="test-sanity"
    - os: linux
      env: MAKE_TASK="coverage"

cache:
  bundler: true

sudo: true
services:
  - docker

before_script:
  - sudo apt-get update
  - make $MAKE_TASK

script:
  if [[ "$MAKE_TASK" == "fmt" ]]; then
    make driver;
  fi
