[Unit]
Description=COS CSI mounter service 1.0.2
DefaultDependencies=no
Requires=network-online.target
After=network-online.target
Before=shutdown.target reboot.target halt.target

[Service]
Type=simple
ExecStart=/usr/local/bin/cos-csi-mounter-server
KillMode=process
Restart=on-failure
RestartSec=10
StandardOutput=journal
StandardError=journal
SyslogIdentifier=cos-csi-mounter

[Install]
WantedBy=multi-user.target
