apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: cos-s3-csi-s3fs-pvc
  namespace: default
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 256Mi
  storageClassName: ibm-object-storage-standard-s3fs
